<div class="container">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-5" style="max-width: 250px;">
        <img src="./assets/images/s03e02_1005899.5.jpg" class="card-img" alt="The Truth">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">The Truth</h5>
          <p class="card-text">Are you coming back to bed?</p>
          <p class="card-text"><small class="text-muted">Season 3 episode 2</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
